* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

p {
        line-height: 1.5;
        font-size: 18px;
        /* width: 70ch; */
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: pink;
    height: 65px;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.top-menu-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    list-style-type: none;
    padding: 0;    
}

.top-menu-content a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.top-menu-content > li {
    list-style: none;
   
}

main {
    width: 100%;
}


.Hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 67px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 0px;
}

section > p {
    padding: 0 65px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.service-item {
    margin: 0 auto; 
     padding: 25px;
}
   
.service-item > img {
    display: block;
    margin: 0 auto;
}

.service-item > p  {
    text-align: center;
}

.service-item > h2  {
    text-align: center;
    margin: 25px 0px;
    font-size: 32px;
}


section > h1 {
    font-size: 67px;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 15px;
}


footer {
    display: flex;
    background-color: pink;
    height: 65px;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-menu-content {
    display: flex;
}

.bottom-menu-content > li {
    list-style: none;
    padding:  0 25px;  
}

.bottom-menu-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

main {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

a:hover {
    background: #C4F6D1;
}

.service-item-image {
    align-items: center;
}



@media only screen and (max-width: 700px) {

    
    section {
        padding-bottom: 30px;
    }

   p {
       text-align: center;
   }

    .service-item  {
       padding-bottom: 25px;
    }

    section > h1 {
        font-size: 28px;
    }

    .service-item > h2
    { 
        font-size: 22px;
    }

    section > p,
    .service-item > p {
        font-size: 14px;
        text-align: center;
    }
    
    section > p {
        padding: 0 25px;
    }
    

    header {
        /* display: block; */
        width: 100%;
        background-color: pink;
        height: 180px;
        margin: 0;
        padding: 0;
    }
    
    .logo {
        display: none;

    }

    .service-item > img {
        width: 100%;
        /* height: auto; */
    }

    embed {
        display: none;
    }

    .top-menu {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .top-menu-content a {
        text-decoration: none;
        text-align: center;
        width: 100%;
    }
    
    .top-menu-content > li {
        list-style: none;
        display: block;
        width: 100%
    }

    .top-menu-content {
        list-style: none;
        width: 100%
    }

    .Hero {
        display: none;
    }

    .Hero-Responsive {
        padding-top: 250px;
        padding-bottom: 120px;
    }

    .Hero-Responsive h1 {
        margin: 0 15px;
        font-size: 36px;
    }

}

@media only screen and (min-width: 701px) {
    .Hero-Responsive h1 {
        display: none;
    }

    p {
        width: 70ch;
    }
}

@media only screen and (min-width: 1200px) {
    .Hero-Responsive h1 {
        display: none;
    }
    
    p {
        width: 70ch;
    }
}