* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: green;
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}

.header_logo {
    margin-left: 15px;
}


nav {
    height: 100%;
}

.nav__items {
    background: yellow;
    border: 1px solid black;
    margin-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    padding: 15px;
}


.nav__item {
    display: inline-block;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 100%;
    background: pink;
    height: 200px;
    align-items: center;
    align-content: center;
}


.footer__nav__items {
    display: flex;
    background: yellow; 
    border: 1px solid black;
    justify-content: space-around;
    height: 120px;
    align-items: center;
}

.footer__nav__item {
    display: inline-block;
}